*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.container{

    height: 560px;
    width: 800px;
    background-color: #e8e8e8;
    border-radius: 6px;
    border: 2px solid transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    box-shadow: 1px 3px 9px 2px #b3b9b7;

}

.img{

    text-align: center;


}

.rafi{

    height: 146px;
    width: 800px;
    background-color: aquamarine;
    text-align: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

h1{

    font-style: italic;
    color: rgb(94, 100, 67);

}

p{

    color: brown;

}

h6{


    color: #400040;
}

    button{

        border: 1px solid transparent;
        margin-top: 100px;
        margin-left: 900px;
        position: fixed;
        






      
        
    }

    input{
        height: 40px;
        width: 100%;
        border-radius: 6px;
        background-color: #1878f3;
        padding: 5px;
        
      
    }

    .bt-1{

        font-size: 25px;
        color: #93e2ff;
        font-weight: bold;
       border: none;
    }

